@charset "UTF-8";
/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

::selection {
    background: #79839b;
}

/* font */
@font-face {
    font-family: 'Gloss And Bloom';
    font-style: normal;
    font-weight: 400;
    src: local('Gloss And Bloom'), url('https://fonts.cdnfonts.com/s/15022/Gloss_And_Bloom.woff') format('woff');
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('../fonts/SpoqaHanSansNeo-Regular.eot') format('eot');
    src: url('../fonts/SpoqaHanSansNeo-Regular.woff') format('woff');
    src: url('../fonts/SpoqaHanSansNeo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('../fonts/SpoqaHanSansNeo-Medium.eot') format('eot');
    src: url('../fonts/SpoqaHanSansNeo-Medium.woff') format('woff');
    src: url('../fonts/SpoqaHanSansNeo-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('../fonts/SpoqaHanSansNeo-Bold.eot') format('eot');
    src: url('../fonts/SpoqaHanSansNeo-Bold.woff') format('woff');
    src: url('../fonts/SpoqaHanSansNeo-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('../fonts/SpoqaHanSansNeo-Thin.eot') format('eot');
    src: url('../fonts/SpoqaHanSansNeo-Thin.woff') format('woff');
    src: url('../fonts/SpoqaHanSansNeo-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* animation */
@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade-out {
    0% {
        opacity: 1
    }
    100% {
        opacity: 0;
    }
}

@keyframes rotate1 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(-90deg);
    }
}

/* header */
#header {
    width: 100%;
}

#header .h-wrap {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 8px;
}

#header .archive {
    margin-left: 30px;
}

#header .archive a {
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    font-size: 0.9em;
}

#header .login {
    margin-right: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

#header .login li {
    display: inline-block;
    padding-right: 10px;
}

#header .login li:last-child {
    padding-right: 0;
}

#header .login li a {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 0.9em;
}

#header .logo {
    text-align: center;
    margin-bottom: 30px;
}

#header .logo img {
    width: 200px;
}

#header .h-wrap nav {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
}

#header .h-wrap nav .gnb {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

#header .h-wrap nav .gnb > li {
    position: relative;
    width: 100%;
    vertical-align: top;
}

#header .h-wrap nav .gnb > li > a {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 1.1em;
}

#header .h-wrap nav .lnb {
    width: 100%;
    margin-top: 30px;
    display: none;
}

#header .h-wrap nav .lnb > li {
    margin-bottom: 15px;
}

#header .h-wrap nav .lnb > li > a {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#header .search {
    position: absolute;
    top: 118px;
    left: -60px;
}

#header .search img {
    width: 25px;
}

#header .time-table {
    position: absolute;
    top: 118px;
    right: -60px;
}

#header .time-table img {
    width: 25px;
}

#header .hamburger {
    display: none;
}

#header .hamburger img {
    width: 28px;
}

#header .close {
    display: none;
}

#header .close img {
    width: 27px;
}

#header .m-header {
    display: none;
    position: absolute;
    top: 0;
}

#header .m-ticket {
    display: inline-block;
    position: relative;
    top: 42px;
    left: 40px;
}

#header .m-ticket ul {
    overflow: hidden;
}

#header .m-ticket ul li {
    float: left;
    margin-right: 20px;
}

#header .m-ticket ul li:last-child {
    margin-right: 0;
}

#header .m-ticket ul li a {
    font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    text-decoration-line: underline;
}

#header .m-menu {
    margin-top: 60px;
}

#header .m-logo img {
    width: 200px;
    position: relative;
    top: 30px;
    left: 30px;
}

#header .m-gnb {
    text-align: center;
}

#header .m-lnb {
    text-align: center;
}

#header .m-footer {
    width: 100%;
    height: auto;
    text-align: center;
}

#header .m-footer a {
    font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
    font-weight: 600;
    font-size: 0.8em;
}

#header .m-footer li {
    margin-bottom: 15px;
}

#header .m-footer1 {
    display: inline-block;
    overflow: hidden;
} 

#header .m-footer1 li {
    float: left;
    margin-top: 15px;
    margin-right: 20px;
} 

#header .m-footer1 li:last-child {
    margin-right: 0;
}

/* footer */
#footer {
    width: 100%;
    height: auto;
}

#footer .f-wrap {
    width: 100%;
}

#footer .partners {
    width: 100%;
}

#footer .partners img {
    width: 100%;
}

#footer .f-info {
    width: auto;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    text-align: center;
    padding: 15px 0;
}

#footer .f-info ul li {
    display: inline-block;
    margin-right: 15px;
}

#footer .f-info ul li:last-child {
    margin-right: 0;
}

#footer .f-info ul li a {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#footer .f-sns {
    width: 100%;
    text-align: center;
    margin: 30px 0 30px 0;
}

#footer .f-sns ul li {
    display: inline-block;
    margin-right: 20px;
}

#footer .f-sns ul li:last-child {
    margin-right: 0;
}

#footer .f-address {
    width: 100%;
    text-align: center;
}

#footer .f-address li {
    margin-bottom: 8px;
}

#footer .f-address li:first-child {
    margin-bottom: 20px;
}

#footer .f-address li:last-child {
    margin-bottom: 20px;
}

#footer .f-address address {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#footer .f-address span {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
}

#footer .f-copyright {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
}

#footer .f-copyright span {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    color: #aaa;
}

/* 미디어쿼리 */
@media all and (min-width: 1580px) {
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade-in 0.5s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-weight: 800;
        animation: fade-in 1s ease-in-out;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-weight: 800;
    }
}

@media all and (min-width:1440px) and (max-width: 1579px) {
    /* header */
    #header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 8px;
    }

    #header .archive {
        margin-left: 40px;
    }
    
    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        margin-right: 40px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .logo img {
        width: 200px;
    }
    
    #header .h-wrap nav {
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .h-wrap nav .gnb {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #header .h-wrap nav .gnb > li {
        position: relative;
        width: 100%;
        vertical-align: top;
    }
    
    #header .h-wrap nav .gnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.1em;
    }

    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade-in 0.5s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-weight: 800;
        animation: fade-in 1s ease-in-out;
    }
    
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade 0.3s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .h-wrap nav .lnb {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    
    #header .h-wrap nav .lnb > li {
        margin-bottom: 15px;
    }
    
    #header .h-wrap nav .lnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }

    #header .h-wrap nav .lnb li:hover a {
        font-weight: 800;
    }
    
    #header .search {
        position: absolute;
        top: 60px;
        left: 40px;
    }
    
    #header .search img {
        width: 25px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 40px;
    }
    
    #header .time-table img {
        width: 25px;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
}

@media all and (min-width:1024px) and (max-width: 1439px) {
    #header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 8px;
    }

    #header .h-wrap .gnb a {
        font-size: 1em;
    }
    
    #header .h-wrap .lnb a {
        font-size: 0.9em;
    }

    #header .archive {
        margin-left: 30px;
    }

    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        margin-right: 30px;
        position: absolute;
        top: 0;
        right: 0;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .logo img {
        width: 200px;
    }
    
    #header .h-wrap nav {
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .h-wrap nav .gnb {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #header .h-wrap nav .gnb > li {
        position: relative;
        width: 100%;
        vertical-align: top;
    }
    
    #header .h-wrap nav .gnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.1em;
    }
    
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade-in 0.5s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-weight: 800;
        animation: fade-in 1s ease-in-out;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-weight: 800;
    }

    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade 0.3s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .h-wrap nav .lnb {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    
    #header .h-wrap nav .lnb > li {
        margin-bottom: 15px;
    }
    
    #header .h-wrap nav .lnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .search {
        position: absolute;
        top: 60px;
        left: 30px;
    }
    
    #header .search img {
        width: 25px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 30px;
    }
    
    #header .time-table img {
        width: 25px;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
}

@media all and (min-width: 768px) and (max-width: 1023px) {
	#header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    
    #header .archive {
        margin-left: 10px;
        position: absolute;
        top: 30px;
        left: 100px;
    }

    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        margin-right: 10px;
        position: absolute;
        top: 30px;
        right: 100px;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
    }
    
    #header .logo img {
        width: 200px;
    }
    
    #header .h-wrap nav > .gnb {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        display: none;
        text-align: left;
        padding-left: 30px;
    }

    #header .search {
        position: absolute;
        top: 30px;
        left: 10px;
    }
    
    #header .search img {
        width: 25px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 10px;
        display: none;
    }
    
    #header .time-table img {
        width: 25px;
    }

    #header .hamburger {
        position: absolute;
        top: 30px;
        right: 10px;
        display: block;
    }

    #header .hamburger img {
        width: 27px;
    }

    #header .close {
        position: absolute;
        right: 10px;
        display: none;
    }

    #header .m-header {
        width: 100%;
        display: none;
    }
    
    #header .m-logo {
        width: 100%;
    }

    #header .m-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 40%;
    }
    
    #header .m-menu .m-gnb {
        width: 100%;
        flex: 0.5;
    }
    
    #header .m-menu .m-gnb li {
        padding: 30px 15px;
        cursor: pointer;
    }
    
    #header .m-menu .m-gnb a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.15em;
    }
    
    #header .m-menu .m-lnb {
        background: url('../images/poster_o.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        flex: 1;
        padding: 50px;
    }
    
    #header .m-menu .m-lnb1 {
        display: none;
    }
    
    #header .m-menu .m-lnb2 {
        display: none;
    }
    
    #header .m-menu .m-lnb3 {
        display: none;
    }
    
    #header .m-menu .m-lnb4 {
        display: none;
    }
    
    #header .m-menu .m-lnb5 {
        display: none;
    }
    
    #header .m-menu .m-lnb6 {
        display: none;
    }
    
    #header .m-menu .m-lnb7 {
        display: none;
    }
    
    #header .m-menu .m-lnb8 {
        display: none;
    }
    
    #header .m-menu .m-lnb9 {
        display: none;
    }
    
    #header .m-menu .m-lnb li {
        margin-bottom: 30px;
    }
    
    #header .m-menu .m-lnb li:last-child {
        margin-bottom: 0;
    }
    
    #header .m-menu .m-lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .m-menu .m-lnb a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 1.15em;
    }    
}

@media all and (min-width: 480px) and (max-width: 767px) { 
	#header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    
    #header .archive {
        display: none;
        margin-left: 10px;
        position: absolute;
        top: 30px;
        left: 100px;
    }

    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        display: none;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        right: 100px;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .logo img {
        width: 200px;
    }
    
    #header .h-wrap nav {
        display: none;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .h-wrap nav .gnb {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #header .h-wrap nav .gnb > li {
        position: relative;
        width: 100%;
        vertical-align: top;
    }
    
    #header .h-wrap nav .gnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.1em;
    }
    
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade 0.3s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .h-wrap nav .lnb {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    
    #header .h-wrap nav .lnb > li {
        margin-bottom: 15px;
    }
    
    #header .h-wrap nav .lnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .search {
        position: absolute;
        top: 30px;
        left: 10px;
    }
    
    #header .search img {
        width: 25px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 10px;
        display: none;
    }
    
    #header .time-table img {
        width: 25px;
    }

    #header .hamburger {
        position: absolute;
        top: 30px;
        right: 10px;
        display: block;
    }

    #header .hamburger img {
        width: 27px;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }

    #header .close {
        position: absolute;
        right: 10px;
        display: none;
    }

    #header .m-header {
        width: 100%;
        display: none;
    }
    
    #header .m-logo {
        width: 100%;
    }
    
    #header .m-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 40%;
    }
    
    #header .m-menu .m-gnb {
        flex: 0.5;
    }
    
    #header .m-menu .m-gnb li {
        padding: 30px 15px;
        cursor: pointer;
    }
    
    #header .m-menu .m-gnb a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1em;
    }
    
    #header .m-menu .m-lnb {
        background: url('../images/poster_o.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        flex: 1;
        padding: 50px;
    }
    
    #header .m-menu .m-lnb1 {
        display: none;
    }
    
    #header .m-menu .m-lnb2 {
        display: none;
    }
    
    #header .m-menu .m-lnb3 {
        display: none;
    }
    
    #header .m-menu .m-lnb4 {
        display: none;
    }
    
    #header .m-menu .m-lnb5 {
        display: none;
    }
    
    #header .m-menu .m-lnb6 {
        display: none;
    }
    
    #header .m-menu .m-lnb7 {
        display: none;
    }
    
    #header .m-menu .m-lnb8 {
        display: none;
    }
    
    #header .m-menu .m-lnb9 {
        display: none;
    }
    
    #header .m-menu .m-lnb li {
        margin-bottom: 30px;
    }
    
    #header .m-menu .m-lnb li:last-child {
        margin-bottom: 0;
    }
    
    #header .m-menu .m-lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .m-menu .m-lnb a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 1em;
    }
    
    #header .m-header {
        display: none;
        width: 100%;
    }
    
    /* footer */
    #footer {
        width: 100%;
        height: auto;
    }
    
    #footer .f-wrap {
        width: 100%;
    }
    
    #footer .partners {
        width: 100%;
    }
    
    #footer .partners img {
        width: 200px;
    }
    
    #footer .f-info {
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 15px 0;
    }
    
    #footer .f-info ul li {
        display: inline-block;
        margin-right: 15px;
    }
    
    #footer .f-info ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-info ul li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-sns {
        width: 100%;
        text-align: center;
        margin: 30px 0 30px 0;
    }
    
    #footer .f-sns ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    #footer .f-sns ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-address {
        width: 100%;
        text-align: center;
    }
    
    #footer .f-address li {
        margin-bottom: 8px;
    }
    
    #footer .f-address li:first-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address li:last-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address address {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-address span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #footer .f-copyright span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
        color: #aaa;
    }
}

@media all and (min-width: 319px) and (max-width: 479px) {
    #header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    
    #header .archive {
        display: none;
        margin-left: 10px;
        position: absolute;
        top: 30px;
        left: 100px;
    }

    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        display: none;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        right: 100px;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .logo img {
        width: 150px;
    }
    
    #header .h-wrap nav {
        display: none;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .h-wrap nav .gnb {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #header .h-wrap nav .gnb > li {
        position: relative;
        width: 100%;
        vertical-align: top;
    }
    
    #header .h-wrap nav .gnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.1em;
    }
    
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade 0.3s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .h-wrap nav .lnb {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    
    #header .h-wrap nav .lnb > li {
        margin-bottom: 15px;
    }
    
    #header .h-wrap nav .lnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .search {
        position: absolute;
        top: 15px;
        left: 10px;
    }
    
    #header .search img {
        width: 25px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 10px;
        display: none;
    }
    
    #header .time-table img {
        width: 25px;
    }

    #header .hamburger {
        position: absolute;
        top: 15px;
        right: 10px;
        display: block;
    }

    #header .hamburger img {
        width: 27px;
    }

    #header .close {
        position: absolute;
        right: 10px;
        display: none;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }

    #header .m-header {
        width: 100%;
        display: none;
    }
    
    #header .m-logo {
        width: 100%;
    }
    
    #header .m-logo img {
        width: 130px;
    }

    #header .m-ticket {
        display: inline-block;
        position: relative;
        top: 42px;
        left: 30px;
    }

    #header .m-ticket ul li a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 1em;
        text-decoration-line: underline;
    }

    #header .m-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 40%;
    }
    
    #header .m-menu .m-gnb {
        flex: 0.5;
    }
    
    #header .m-menu .m-gnb li {
        padding: 30px 15px;
        cursor: pointer;
    }
    
    #header .m-menu .m-gnb a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1em;
    }
    
    #header .m-menu .m-lnb {
        background: url('../images/poster_o.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        flex: 1;
        padding: 50px;
    }
    
    #header .m-menu .m-lnb1 {
        display: none;
    }
    
    #header .m-menu .m-lnb2 {
        display: none;
    }
    
    #header .m-menu .m-lnb3 {
        display: none;
    }
    
    #header .m-menu .m-lnb4 {
        display: none;
    }
    
    #header .m-menu .m-lnb5 {
        display: none;
    }
    
    #header .m-menu .m-lnb6 {
        display: none;
    }
    
    #header .m-menu .m-lnb7 {
        display: none;
    }
    
    #header .m-menu .m-lnb8 {
        display: none;
    }
    
    #header .m-menu .m-lnb9 {
        display: none;
    }
    
    #header .m-menu .m-lnb li {
        margin-bottom: 30px;
    }
    
    #header .m-menu .m-lnb li:last-child {
        margin-bottom: 0;
    }
    
    #header .m-menu .m-lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .m-menu .m-lnb a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 1em;
    }
    
    #header .m-header {
        width: 100%;
    }

    /* footer */
    #footer {
        width: 100%;
        height: auto;
    }
    
    #footer .f-wrap {
        width: 100%;
    }
    
    #footer .partners {
        width: 100%;
    }
    
    #footer .partners img {
        width: 200px;
    }
    
    #footer .f-info {
        display: none;
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 15px 0;
    }
    
    #footer .f-info ul li {
        display: inline-block;
        margin-right: 15px;
    }
    
    #footer .f-info ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-info ul li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-sns {
        width: 100%;
        text-align: center;
        margin: 30px 0 30px 0;
    }
    
    #footer .f-sns ul li {
        display: inline-block;
        margin-right: 20px;
    }
    
    #footer .f-sns ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-address {
        display: none;
        width: 100%;
        text-align: center;
    }
    
    #footer .f-address li {
        margin-bottom: 8px;
    }
    
    #footer .f-address li:first-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address li:last-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address address {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-address span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #footer .f-copyright span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
        color: #aaa;
    }
}

@media all and (max-width: 320px) {
    #header {
        width: 100%;
    }
    
    #header .h-wrap {
        width: 100%;
        position: relative;
        margin-top: 30px;
    }
    
    #header .archive {
        display: none;
        margin-left: 10px;
        position: absolute;
        top: 30px;
        left: 100px;
    }

    #header .archive a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
        font-size: 0.9em;
    }
    
    #header .login {
        display: none;
        margin-right: 10px;
        position: absolute;
        top: 30px;
        right: 100px;
    }
    
    #header .login li {
        display: inline-block;
        padding-right: 10px;
    }
    
    #header .login li:last-child {
        padding-right: 0;
    }
    
    #header .login li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.9em;
    }
    
    #header .logo {
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .logo img {
        width: 150px;
    }
    
    #header .h-wrap nav {
        display: none;
        position: relative;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #header .h-wrap nav .gnb {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
    }
    
    #header .h-wrap nav .gnb > li {
        position: relative;
        width: 100%;
        vertical-align: top;
    }
    
    #header .h-wrap nav .gnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 1.1em;
    }
    
    #header .h-wrap nav .gnb:hover .lnb {
        display: block;
        animation: fade 0.3s ease-in;
    }
    
    #header .h-wrap nav .gnb > li:hover > a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .h-wrap nav .lnb {
        width: 100%;
        margin-top: 30px;
        display: none;
    }
    
    #header .h-wrap nav .lnb > li {
        margin-bottom: 15px;
    }
    
    #header .h-wrap nav .lnb > li > a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .search {
        position: absolute;
        top: 20px;
        left: 10px;
    }
    
    #header .search img {
        width: 20px;
    }
    
    #header .time-table {
        position: absolute;
        top: 60px;
        right: 10px;
        display: none;
    }
    
    #header .time-table img {
        width: 25px;
    }

    #header .hamburger {
        position: absolute;
        top: 20px;
        right: 10px;
        display: block;
    }

    #header .hamburger img {
        width: 20px;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }
    
    #header .hamburger img {
        width: 27px;
    }

    #header .close {
        position: absolute;
        right: 10px;
        display: none;
    }
    
    #header .h-wrap nav .lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
    }

    #header .m-header {
        width: 100%;
        display: none;
    }
    
    #header .m-logo {
        width: 100%;
    }

    #header .m-logo img {
        width: 130px;
    }

    #header .m-ticket {
        display: inline-block;
        position: relative;
        top: 42px;
        left: 30px;
    }

    #header .m-ticket ul li a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 1em;
        text-decoration-line: underline;
    }
    
    #header .m-menu {
        width: 100%;
        height: 100%;
        display: flex;
        flex: 1 1 40%;
    }
    
    #header .m-menu .m-gnb {
        flex: 0.5;
    }
    
    #header .m-menu .m-gnb li {
        padding: 30px 15px;
        cursor: pointer;
    }
    
    #header .m-menu .m-gnb a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #header .m-menu .m-lnb {
        background: url('../images/poster_o.png') no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
        flex: 1;
        padding: 50px;
    }
    
    #header .m-menu .m-lnb1 {
        display: none;
    }
    
    #header .m-menu .m-lnb2 {
        display: none;
    }
    
    #header .m-menu .m-lnb3 {
        display: none;
    }
    
    #header .m-menu .m-lnb4 {
        display: none;
    }
    
    #header .m-menu .m-lnb5 {
        display: none;
    }
    
    #header .m-menu .m-lnb6 {
        display: none;
    }
    
    #header .m-menu .m-lnb7 {
        display: none;
    }
    
    #header .m-menu .m-lnb8 {
        display: none;
    }
    
    #header .m-menu .m-lnb9 {
        display: none;
    }
    
    #header .m-menu .m-lnb li {
        margin-bottom: 30px;
    }
    
    #header .m-menu .m-lnb li:last-child {
        margin-bottom: 0;
    }
    
    #header .m-menu .m-lnb li:hover a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    }
    
    #header .m-menu .m-lnb a {
        font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
        font-weight: 600;
        font-size: 0.8em;
    }
    
    #header .m-header {
        width: 100%;
        display: none;
    }

    /* footer */
    #footer {
        width: 100%;
        height: auto;
    }
    
    #footer .f-wrap {
        width: 100%;
    }
    
    #footer .partners {
        width: 100%;
    }
    
    #footer .partners img {
        width: 200px;
    }
    
    #footer .f-info {
        display: none;
        width: 100%;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        text-align: center;
        padding: 15px 0;
    }
    
    #footer .f-info ul li {
        display: inline-block;
        margin-right: 15px;
    }
    
    #footer .f-info ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-info ul li a {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-sns {
        width: 100%;
        text-align: center;
        margin: 30px 0 30px 0;
    }
    
    #footer .f-sns ul li {
        display: inline-block;
        margin-right: 10px;
    }
    
    #footer .f-sns ul li:last-child {
        margin-right: 0;
    }
    
    #footer .f-address {
        display: none;
        width: 100%;
        text-align: center;
    }
    
    #footer .f-address li {
        margin-bottom: 8px;
    }
    
    #footer .f-address li:first-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address li:last-child {
        margin-bottom: 20px;
    }
    
    #footer .f-address address {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-address span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
    }
    
    #footer .f-copyright {
        width: 100%;
        text-align: center;
        margin-bottom: 30px;
    }
    
    #footer .f-copyright span {
        font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
        font-size: 0.8em;
        color: #aaa;
    }
}

/* IE */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	* {
		margin: 0;
		padding: 0;
	}
	
	a {
		text-decoration: none;
		color: #000;
	}
	
	img {
		border: 0;
	}
	
	a,
	abbr,
	acronym,
	address,
	applet,
	article,
	aside,
	audio,
	b,
	big,
	blockquote,
	body,
	canvas,
	caption,
	center,
	cite,
	code,
	dd,
	del,
	details,
	dfn,
	div,
	dl,
	dt,
	em,
	embed,
	fieldset,
	figcaption,
	figure,
	footer,
	form,
	header,
	hgroup,
	html,
	i,
	iframe,
	img,
	ins,
	kbd,
	label,
	legend,
	li,
	mark,
	menu,
	nav,
	object,
	ol,
	output,
	p,
	pre,
	q,
	ruby,
	s,
	samp,
	section,
	small,
	span,
	strike,
	strong,
	sub,
	summary,
	sup,
	table,
	tbody,
	td,
	tfoot,
	th,
	thead,
	time,
	tr,
	tt,
	u,
	ul,
	var,
	video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
	
	/* HTML5 display-role reset for older browsers */
	article,
	aside,
	details,
	figcaption,
	figure,
	footer,
	header,
	hgroup,
	menu,
	nav,
	section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol,
	ul {
		list-style: none;
	}
	blockquote,
	q {
		quotes: none;
	}
	blockquote:after,
	blockquote:before,
	q:after,
	q:before {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
}