@charset "UTF-8";
/* reset */
* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #000;
}

img {
    border: 0;
}

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* font */
@import url('http://fonts.cdnfonts.com/css/gloss-and-bloom');

@font-face {
    font-family: 'SpoqaHanSansNeo-Regular';
    src: url('../font/SpoqaHanSansNeo-Regular.eot') format('eot');
    src: url('../font/SpoqaHanSansNeo-Regular.woff') format('woff');
    src: url('../font/SpoqaHanSansNeo-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Medium';
    src: url('../font/SpoqaHanSansNeo-Medium.eot') format('eot');
    src: url('../font/SpoqaHanSansNeo-Medium.woff') format('woff');
    src: url('../font/SpoqaHanSansNeo-Medium.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Bold';
    src: url('../font/SpoqaHanSansNeo-Bold.eot') format('eot');
    src: url('../font/SpoqaHanSansNeo-Bold.woff') format('woff');
    src: url('../font/SpoqaHanSansNeo-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SpoqaHanSansNeo-Thin';
    src: url('../font/SpoqaHanSansNeo-Thin.eot') format('eot');
    src: url('../font/SpoqaHanSansNeo-Thin.woff') format('woff');
    src: url('../font/SpoqaHanSansNeo-Thin.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

/* header */
#header {
    width: 100%;
}

#header .h-wrap {
    width: 1440px;
    margin: 0 auto;
    position: relative;
    margin-top: 8px;
}

#header .h-wrap .archive a {
    font-family: 'SpoqaHanSansNeo-Bold', sans-serif;
}

#header .h-wrap .login {
    position: absolute;
    top: 0;
    right: 0;
}

#header .h-wrap .login li {
    display: inline-block;
}

#header .h-wrap .login li a {
    font-family: '';
}

#header .h-wrap .logo {
    text-align: center;
}

#header .h-wrap .logo img {
    width: 200px;
}

#header .h-wrap nav {
    position: relative;
    text-align: center;
}

#header .h-wrap nav .gnb{
    overflow: hidden;
}

#header .h-wrap nav .gnb li {
    display: inline-block;
    vertical-align: top;
}

#header .h-wrap nav .lnb {
    width: 100%;
}

#header .h-wrap nav .lnb li {
    display: block;
}

#header .h-wrap nav .lnb li a {

}

#header .h-wrap .search img {
    width: 40px;
}

#header .h-wrap .time-table img {
    width: 40px;
}


/* footer */
#footer {
    width: 100%;
}

#footer .f-wrap {
    width: 80%;
    margin: 0 auto;
}

/* 미디어쿼리 */
@media all and (min-width:768px) and (max-width: 1023px) {
	
}

@media all and (min-width:480px) and (max-width:767px) { 
	
}

@media all and (max-width:479px) {
    
}