@charset "UTF-8";
/* main */
#main {
    width: 100%;
}

#main .main-img {
    text-align: center;
    position: relative;
}

#main .main-img img {
    width: 100%;
}

#main .main-contents {
    padding: 150px 200px;
    position: absolute;
    bottom: 0;
}

#main .main-contents p {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 3.5em;
    color: #fff;
    letter-spacing: -4px;
}

#main .main-contents p:nth-child(1) {
    font-family: 'SpoqaHanSansNeo-Medium', sans-serif;
    font-weight: 600;
    font-size: 1.3em;
    color: #000;
    background: #fff;
    display: inline-block;
    padding: 3px;
    letter-spacing: 0px;
    margin-bottom: 20px;
}

#main .main-contents p:nth-child(2) {
    margin-bottom: 10px;
}

#main .main-contents p:nth-child(3) {
    font-size: 3em;
    margin-bottom: 20px;
}

#main .main-contents p:nth-child(9) {
    font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
    font-size: 1.5em;
    line-height: 35px;
    letter-spacing: -1.5px;
}

#main .main-contents span {
    font-family: 'SpoqaHanSansNeo-Thin', sans-serif;
    font-size: 1.2em;
    color: #fff;
    display: inline-block;
    margin-bottom: 20px;
}

#main .main-contents span::after {
    content: '|';
    margin-left: 4px;
}

#main .main-contents span:nth-child(8)::after {
    content: '';
}

#program {
    width: 100%;
    margin: 100px 0;
}

#program .title {
    width: 100%;
    margin-bottom: 50px;
}

#program .title h2 {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 2.3em;
    letter-spacing: 5px;
    text-align: center;
}

#program .programs {
    width: 100%;
    text-align: center;
    margin-bottom: 80px;
}

#program label select {
    font-family: 'SpoqaHanSansNeo-Regular', sans-serif;
    font-size: 1.2em;
    padding: 10px;
    border: none;
    background: #e3e3e3;
    /*
    -moz-appearance:none; 
    -webkit-appearance:none; 
    appearance:none;
    */
}

#program .plus {
    position: absolute;
    top: 40%;
    left: 37%;
}

#program .program-contents {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

#program .program-content {
    position: relative;
    flex: 1 1 40%;
}

#program .program-content:nth-child(1) {
    margin: 0 30px 30px 0;
}

#program .program-content:nth-child(2) {
    margin: 0 0 30px 0;
}

#program .program-content:nth-child(3) {
    margin: 0 30px 30px 0;
}

#program .program-content:nth-child(4) {
    margin: 0 0 30px 0;
}

#program .program-content:nth-child(5) {
    margin: 0 30px 0 0;
}

#program .program-content img {
    width: 80%;
}

#program .plus img {
    width: 50px;
}

#program .content-detail {
    position: absolute;
    top: 0;
    width: 100%;
}

#pitch {
    width: 100%;
}

#pitch .pitch-title {

}

#pitch .pitch-contents {

}

#academy {
    width: 100%;
}

#daily {
    width: 100%;
}

#daily .daily-title {

}

#daily .daily-contents {
    width: 100%;
    display: flex;
    flex-direction: row;

}

#daily .daily-content {
    width: 100%;
}

#daily .daily-content-cover {
    
}

#news {
    width: 100%;
}

#news .news-title {
    
}

#news .news-contents {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

#news .news-content {
    width: 100%;
    flex: 3;
}

#sns {
    width: 100%;
    background: cadetblue;
}

#sns .sns-title {
    
}

#sns .sns-contents {
    width: 1024px;
    margin: 0 auto;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: nowrap;
}

#sns .sns-content {
    /* align-items: flex-start; */
}

#newsletter {
    width: 100%;
}

#newsletter .newsletter-contents { 

}

#newsletter {

}

#market {
    width: 100%;
}

/* 미디어쿼리 */
@media all and (min-width: 768px) and (max-width: 1023px){
	#program {
        background: sandybrown;
        width: 100%;
    }
    
    #program .program-contents {
        width: 80%;
        background: gold;
        display: flex;
        flex-wrap: wrap;
    }
    
    #program .program-content {
        background: yellowgreen;
        flex: 1 1 40%;
    }
    
    #program .program-content:nth-child(1) {
        margin: 0 30px 30px 0;
    }
    
    #program .program-content:nth-child(2) {
        margin: 0 0 30px 0;
    }
    
    #program .program-content:nth-child(3) {
        margin: 0 30px 0 0;
    }
    
    #program .program-content:nth-child(4) {
        margin: 0 0 0 0;
    }
    
    #program .program-content:nth-child(5) {
        display: none;
    }

    #program .program-content:nth-child(6) {
        display: none;
    }

    #pitch {
        background: cadetblue;
        width: 100%;
    }
    
    #pitch .pitch-title {
    
    }
    
    #pitch .pitch-contents {
    
    }
    
    #academy {
        width: 100%;
        background: orange;
    }
    
    #daily {
        background: gold;
        width: 100%;
    }
    
    #daily .daily-title {
    
    }
    
    #daily .daily-contents {
        width: 100%;
        background: orangered;
        display: flex;
        flex-wrap: wrap;
    }
    
    #daily .daily-content {
        width: 100%;
        height: 200px;
        background: orange;
        flex: 1 1 40%;
    }
    
    #daily .daily-content-cover {
        
    }

    #news {
        width: 100%;
        background: yellowgreen;
    }
    
    #news .news-title {
        
    }
    
    #news .news-contents {
        width: 80%;
        display: flex;
        flex-direction: row;
    }
    
    #news .news-content {
        width: 100%;
    }
    
    #sns {
        width: 100%;
        background: cadetblue;
    }
    
    #sns .sns-title {
        
    }
    
    #sns .sns-contents {
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }
    
    #sns .sns-content {
        /* align-items: flex-start; */
    }
    
    #newsletter {
        width: 100%;
        height: 300px;
        background: burlywood;
    }
    
    #newsletter .newsletter-contents { 
    
    }
    
    #newsletter {
    
    }
    
    #market {
        width: 100%;
        height: 200px;
        background: yellowgreen;
    }
    
}

@media all and (min-width: 480px) and (max-width: 767px) {
	#program {
        background: sandybrown;
        width: 100%;
    }
    
    #program .program-contents {
        width: 80%;
        background: gold;
        display: flex;
        flex-wrap: wrap;
    }
    
    #program .program-content {
        background: yellowgreen;
        flex: 1 1 40%;
    }
    
    #program .program-content:nth-child(1) {
        margin: 0 30px 30px 0;
    }
    
    #program .program-content:nth-child(2) {
        margin: 0 0 30px 0;
    }
    
    #program .program-content:nth-child(3) {
        margin: 0 30px 0 0;
    }
    
    #program .program-content:nth-child(4) {
        margin: 0 0 0 0;
    }
    
    #program .program-content:nth-child(5) {
        display: none;
    }

    #program .program-content:nth-child(6) {
        display: none;
    }

    #pitch {
        background: cadetblue;
        width: 100%;
    }
    
    #pitch .pitch-title {
    
    }
    
    #pitch .pitch-contents {
        /* width: 100%; */
    }
    
    #academy {
        width: 100%;
        background: orange;
    }
    
    #daily {
        background: gold;
        width: 100%;
    }
    
    #daily .daily-title {
    
    }
    
    #daily .daily-contents {
        width: 100%;
        background: orangered;
        display: flex;
        flex-wrap: wrap;
    }
    
    #daily .daily-content {
        width: 100%;
        height: 200px;
        background: orange;
        flex: 1 1 40%;
    }
    
    #daily .daily-content-cover {
        
    }
    
    #news {
        width: 100%;
        background: yellowgreen;
    }
    
    #news .news-title {
        
    }
    
    #news .news-contents {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    #news .news-content {
        flex: 3;
    }
    
    #sns {
        width: 100%;
        background: cadetblue;
    }
    
    #sns .sns-title {
        
    }
    
    #sns .sns-contents {
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }
    
    #sns .sns-content {
        /* align-items: flex-start; */
    }
    
    #newsletter {
        width: 100%;
        height: 300px;
        background: burlywood;
    }
    
    #newsletter .newsletter-contents { 
    
    }
    
    #newsletter {
    
    }
    
    #market {
        width: 100%;
        height: 200px;
        background: yellowgreen;
    }
}

@media all and (max-width: 479px)  { 
	#program {
        background: sandybrown;
        width: 100%;
    }
    
    #program .program-contents {
        width: 80%;
        background: gold;
        display: flex;
        flex-direction: column;
    }
    
    #program .program-content {
        background: yellowgreen;
    }
    
    #program .program-content:nth-child(1) {
        margin: 0;
    }
    
    #program .program-content:nth-child(2) {
        margin: 0;
    }
    
    #program .program-content:nth-child(3) {
        margin: 0;
    }
    
    #program .program-content:nth-child(4) {
        margin: 0;
    }
    
    #program .program-content:nth-child(5) {
        display: none;
    }

    #program .program-content:nth-child(6) {
        display: none;
    }

    #pitch {
        background: cadetblue;
        width: 100%;
    }
    
    #pitch .pitch-title {
    
    }
    
    #pitch .pitch-contents {
        /* width: 100%; */
    }
    
    #academy {
        width: 100%;
        background: orange;
    }
    
    #daily {
        background: gold;
        width: 100%;
    }
    
    #daily .daily-title {
    
    }
    
    #daily .daily-contents {
        width: 100%;
        background: orangered;
        display: flex;
        flex-wrap: wrap;
    }
    
    #daily .daily-content {
        width: 100%;
        height: 200px;
        background: orange;
        flex: 1 1 40%;
    }
    
    #daily .daily-content-cover {
        
    }
    
    #news {
        width: 100%;
        background: yellowgreen;
    }
    
    #news .news-title {
        
    }
    
    #news .news-contents {
        width: 100%;
        display: flex;
        flex-direction: row;
    }
    
    #news .news-content {
        flex: 3;
    }
    
    #sns {
        width: 100%;
        background: cadetblue;
    }
    
    #sns .sns-title {
        
    }
    
    #sns .sns-contents {
        width: 100%;
        display: flex;
        /* flex-direction: row; */
        flex-wrap: nowrap;
    }
    
    #sns .sns-content {
        /* align-items: flex-start; */
    }
    
    #newsletter {
        width: 100%;
        height: 300px;
        background: burlywood;
    }
    
    #newsletter .newsletter-contents { 
    
    }
    
    #newsletter {
    
    }
    
    #market {
        width: 100%;
        height: 200px;
        background: yellowgreen;
    }
}